header {
  background-color:#1c0d58 !important;
}

dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}
.schedule-button {
  margin-left: 8em;
}

.banner-content {
  padding-left: 50px;
}

.mdl-dialog {
  width: 85%;
  max-width: 600px;
}

.mdl-card {
  min-height: 300px;
  width: 95%;
}
.ps-logo {
  padding: 0.5em;
}

.ps-1 {
  margin: 0.5em;
  margin: auto;
  width: 350px;
  height: 200px;
}

.ps-1 > .mdl-card__title {
  background: url('../img/g.jpg') center / cover;
  background-color: gray;
  color: rgb(255, 255, 255);
}

.ps-2 {
  margin: 0.5em;
  margin: auto;
  width: 350px;
  height: 200px;
}

.ps-2 > .mdl-card__title {
  background: url('../img/c.jpg') center / cover;
  background-color: gray;
  color: white;
}

.ps-3 {
  margin: 0.5em;
  margin: auto;
  width: 350px;
  height: 200px;
}

.ps-3 > .mdl-card__title {
  background: url('../img/d.jpg') center / cover;
  background-color: gray;
  color: white;
}

.ps-4 {
  margin: 0.5em;
  margin: auto;
  width: 350px;
  height: 200px;
}

.ps-4 > .mdl-card__title {
  background: url('../img/f.jpg') center / cover;
  background-color: gray;
  color: white;
}

.ps-5 {
  margin: 0.5em;
  margin: auto;
  width: 350px;
  height: 200px;
}

.ps-5 > .mdl-card__title {
  background: url('../img/b.jpg') center / cover;
  background-color: gray;
  color: white;
}


.ps-6 {
  margin: 0.5em;
  margin: auto;
  width: 350px;
  height: 200px;
}

.ps-6 > .mdl-card__title {
  background: url('../img/a.jpg') center / cover;
  background-color: gray;
  color: white;
}


.ps-services {
  background-color: #1c0d58;
  color: #ddd7d7;
}

.ps-services-text {
  padding: 0.5em;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 35px;
  margin-left: 100px;
  margin-right: 100px;
}

.ps-services-text h3 {
  text-align: center;
}

.ps-choose {
  background-color: #c7c2c2;
  color: #131531;
}

.ps-choose-text {
  padding: 1.0 em;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-left: 50px;
  margin-right: 100px;
}
.ps-desc{
  color: rgb(63, 63, 63);
}

.ps-choose-image {
  background: url('../img/3.jpg') bottom / cover;
  padding : 0.5em;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mdl-mega-footer {
  background-color: #1c0d58;
}

.mdl-tabs__tab-bar {
  border-bottom: none;
}

.mdl-tabs__tab {
  color: #ffffff;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #fff;
}

.footer-social-box {
	margin-left:30px;
}
.footer-social-box ul {
	list-style:none;
	margin:0;
	padding:0;
}
.footer-social-box ul li {
	float:left;
	padding:10px 6px 0 6px;
}
.footer-social-box ul li a i {
	color:#A1D0FF
}
.footer-social-box ul li a:hover i {
	color:rgb(255, 255, 255);
}
