
dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}


.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-navigation__link  {
  color: white;
}

.schedule-button {
  margin-left: 8em;
}

.banner-content {
  padding-left: 90px;
}

.mdl-dialog {
  width: 85%;
  max-width: 600px;
}

.mdl-card {
  min-height: 300px;
  width: 95%;
}
.ps-logo {
  padding: 0.5em;
}


.big-header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: bold;
  font-weight: 700;
  line-height:1;
}

.ps-banner {
  background-image: url('../img/1.jpg');
  background-size: cover;
  background-position: top 40% center;
  text-align: left;
  padding: 0.5em;
  padding-left: 115px;
  padding-top: 150px;
  padding-bottom: 0px;
  height: 500px;
  font-family: Open Sans;
  color: rgb(255, 255, 255);
}

.feature{
  background-image: url('../img/star.jpg');
  background-repeat: no-repeat;
  background-position: top 50%;
  background-size: cover;
  padding-top: 1.0em;
  padding-bottom: 5.0em;
  color: white;
}

.ps-feature-text{
  padding-bottom: 0.5em;
  margin-top: 10px;
  text-align:center;
}

.feature h5{
  font-weight:600;
}

.feature i{
  font-size:50px;
}

.content-grid {
  max-width: 1100px;
  height: 250px;
 
}
.background{
  padding-top: 2.0em;
  background-color:white;
  text-align:center;
  color: #1c0d58;
}


.ps-services {
  background-color: #1c0d58;
  color: #ddd7d7;
}

.ps-services-text {
  padding: 0.5em;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 35px;
  margin-left: 100px;
  margin-right: 100px;
}

.ps-services-text h3 {
  text-align: center;
}

.background-choose1 {
  background-color: #ffffff;
  color: #131531;
}

.background-choose2 {
  background-image: url('../img/e.jpg');
  background-repeat: no-repeat;
  background-position: top 50%;
  background-size: cover;
}

.content-choose {
  max-width: 1100px;
  height: 250px;
}
.ps-choose-text  {
  padding-left: 0.5em;
  font-weight:600;
}

.ps-choose-text2 h5{
margin-top:0px;
font-weight:550;
}

.ps-choose-spacing{
  margin-left: 60px;
  margin-right:60px;
  margin-bottom: 20px;

}


.mdl-mega-footer {
  background-color: #2a2a2a;
}

.mdl-tabs__tab-bar {
  border-bottom: none;
}

.mdl-tabs__tab {
  color: #ffffff;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #fff;
}

.footer-social-box {
	margin-left:30px;
}
.footer-social-box ul {
	list-style:none;
	margin:0;
	padding:0;
}
.footer-social-box ul li {
	float:left;
	padding:10px 6px 0 6px;
}
.footer-social-box ul li a i {
	color:#A1D0FF
}
.footer-social-box ul li a:hover i {
	color:rgb(255, 255, 255);
}
